##### general #####
wss.url=https://sap.whitesourcesoftware.com/agent
#userKey=
scaThresholdMedium=
scaThresholdLow=
scaThresholdHigh=
resolveAllDependencies=false
projectVersion=0
projectTag=
projectName=cdc-tools-chrome-extension
productVersion=0
productToken=724f6571b0ec47b89cf24c1b4d5319d079d83c3da2d04aacb7a4efa0eb98a1b3
productName=cdc-tools-chrome-extension
offline=false
log.level=debug
includes=*/src/*,**/*.html,**/*.xml,**/*.js,**/*.jsx,**/*.json
forceUpdate=true
forceCheckAllDependencies=true
fileSystemScan=false
failErrorLevel=ALL
excludes=**/node_modules/**,**/coverage/**,**/build/**
configFilePath=./wss-unified-agent.config
checkPolicies=true
apiKey=6971b2eec2d3420bad0caf173ec629f6a3c7d3ba63f3445ab99ffdbf1acfb1d0
#whiteSourceFolderPath=.
#updateType=OVERRIDE
#updateInventory=true
#updateEmptyProject=true
#showProgressBar=true
#scanReportTimeoutMinutes=10
#scanReportFilenameFormat=project_with_timestamp
#scanPackageManager=false
#scanComment=
#requireKnownSha1=true
#requesterEmail=
#projectToken=
#projectPerFolderIncludes=*
#projectPerFolderExcludes=
#projectPerFolder=false
#offline.zip=false
#offline.prettyJson=true
#licenseKey=
#ignoreEuaNotices=informational
#iaLanguage=
#generateScanReport=false
#generateSarifReport=false
#generateProjectDetailsJson=false
#forceUpdate.failBuildOnPolicyViolation=false
#excludeDependenciesFromNodes=
#euaVul=euaVul.json
#euaRes=euaRes.json
#euaOffline=
#euaDep=euaDep.json
#enableImpactAnalysis=false
#commandTimeout=900
#appPath=
#analyzeMultiModule=
#analyzeFrameworksReference=analyzeFrameworks.txt
#analyzeFrameworks=false

##### ANT #####
#ant.resolveDependencies=false
#ant.pathIdIncludes=
#ant.external.parameters=

##### archive #####
#archiveIncludes=
#archiveExtractionDepth=0
#archiveExcludes=

##### artifactory #####
#artifactory.userPassword=
#artifactory.userName=
#artifactory.url=
#artifactory.repoKeys=
#artifactory.includes=.*.*
#artifactory.excludes=
#artifactory.enableScan=false
#artifactory.accessToken=

##### bazel #####
#bazel.runPreStep=false
#bazel.resolveDependencies=false

##### bower #####
#bower.runPreStep=false
#bower.resolveDependencies=false
#bower.ignoreSourceFiles=true

##### cabal #####
#haskell.runPreStep=false
#haskell.resolveDependencies=false
#haskell.ignoreSourceFiles=true
#haskell.ignorePreStepErrors=false

##### cargo #####
#cargo.runPreStep=false
#cargo.resolveDependencies=false
#cargo.ignoreSourceFiles=true

##### cocoapods #####
#cocoapods.runPreStep=false
#cocoapods.resolveDependencies=false
#cocoapods.ignoreSourceFiles=true

##### conda #####
#conda.resolveDependencies=false

##### docker #####
#docker.scanTarFiles=false
#docker.scanImages=false
#docker.scanContainers=false
#docker.pull.tags=
#docker.pull.maxImages=10
#docker.pull.images=
#docker.pull.force=false
#docker.pull.enable=false
#docker.pull.digest=
#docker.projectNameFormat=default
#docker.login.sudo=true
#docker.layers=false
#docker.includes=.*.*
#docker.includeSingleScan=
#docker.excludes=
#docker.delete.force=false
#docker.containerIncludes=.*.*
#docker.containerExcludes=

##### docker artifactory #####
#docker.artifactory.userPassword=
#docker.artifactory.userName=
#docker.artifactory.url=
#docker.artifactory.repositoriesNames=
#docker.artifactory.pullUrl=
#docker.artifactory.enable=false
#docker.artifactory.dockerAccessMethod= 

##### docker aws #####
#docker.aws.registryIds=
#docker.aws.enable=false

##### docker azure #####
#docker.azure.userPassword=
#docker.azure.userName=
#docker.azure.registryNames=
#docker.azure.registryAuthenticationParameters=
#docker.azure.enable=false
#docker.azure.authenticationType=UserAccount

##### docker google containers #####
#docker.gcr.repositories=
#docker.gcr.enable=false
#docker.gcr.account=

##### docker hub #####
#docker.hub.userPassword=
#docker.hub.userName=
#docker.hub.organizationsNames=
#docker.hub.enabled=false
#docker.hub.accessToken=

##### environment #####
followSymbolicLinks=true
case.sensitive.glob=false

##### go #####
#go.resolveDependencies=false
#go.modules.resolveDependencies=false
#go.modules.removeDuplicateDependencies=true
#go.modules.includeTestDependencies=false
#go.modules.ignoreSourceFiles=true
#go.ignoreSourceFiles=true
#go.gogradle.enableTaskAlias=false
#go.glide.ignoreTestPackages=true
#go.dependencyManager=
#go.collectDependenciesAtRuntime=false

##### gradle #####
#gradle.resolveDependencies=false
#gradle.preferredEnvironment=wrapper
#gradle.innerModulesAsDependencies=true
#gradle.includedConfigurations=
#gradle.includeModules=
#gradle.ignoredConfigurations=
#gradle.ignoreSourceFiles=true
#gradle.excludeModules=
#gradle.aggregateModules=false
#gradle.additionalArguments=

##### hex #####
#hex.runPreStep=false
#hex.resolveDependencies=false
#hex.ignoreSourceFiles=true
#hex.aggregateModules=false

##### html #####
#html.resolveDependencies=false

##### maven #####
#maven.runPreStep=false
#maven.resolveDependencies=false
#maven.projectNameFromDependencyFile=false
#maven.maxCacheFolderSize=
#maven.m2RepositoryPath=
#maven.ignoredScopes=provided,test
#maven.ignoreSourceFiles=true
#maven.ignorePomModules=true
#maven.ignoreMvnTreeErrors=false
#maven.environmentPath=
#maven.downloadMissingDependencies=true
#maven.aggregateModules=false
#maven.additionalArguments=

##### npm #####
npm.runPreStep=true
npm.resolveLockFile=true
npm.resolveDependencies=true
npm.projectNameFromDependencyFile=true
npm.ignoreNpmLsErrors=true
npm.failOnNpmLsErrors=false
#npm.yarnProject=false
#npm.yarn.frozenLockfile=false
#npm.resolveMainPackageJsonOnly=false
#npm.resolveGlobalPackages=false
#npm.resolveAdditionalDependencies=false
#npm.removeDuplicateDependencies=true
#npm.includeDevDependencies=false
#npm.ignoreSourceFiles=true
#npm.ignoreScripts=false
#npm.ignoreDirectoryPatterns=example,examples,.ws_bower,test
#npm.identifyByNameAndVersion=false
#npm.accessToken=

##### nuget #####
#nuget.runPreStep=false
#nuget.resolvePackagesConfigFiles=true
#nuget.resolveNuspecFiles=true
#nuget.resolveDependencies=false
#nuget.resolveCsProjFiles=true
#nuget.resolveAssetsFiles=true
#nuget.preferredEnvironment=
#nuget.packagesDirectory=
#nuget.ignoreSourceFiles=true

##### ocaml #####
#ocaml.switchName=
#ocaml.runPreStep=false
#ocaml.resolveDependencies=false
#ocaml.ignoredScopes=with-test,with-doc
#ocaml.ignoreSourceFiles=true
#ocaml.aggregateModules=false

##### paket #####
#paket.runPreStep=false
#paket.resolveDependencies=false
#paket.ignoredGroups=
#paket.ignoreSourceFiles=true
#paket.exePath=

##### php #####
#php.runPreStep=false
#php.resolveDependencies=false
#php.removeDuplicateDependencies=true
#php.includeDevDependencies=false
#php.ignoreSourceFiles=true

##### python #####
#python.runPoetryPreStep=false
#python.runPipenvPreStep=false
#python.resolveSetupFiles=false
#python.resolvePipEditablePackages=false
#python.resolveHierarchyTree=true
#python.resolveGlobalPackages=false
#python.resolveDependencies=false
#python.requirementsFileIncludes=
#python.pipenvDevDependencies=false
#python.pipPath=pip
#python.path=python
#python.localPackagePathsToInstall=
#python.installVirtualenv=false
#python.indexUrl=
#python.includePoetryDevDependencies=false
#python.ignoreSourceFiles=true
#python.ignorePipInstallErrors=false
#python.IgnorePipenvInstallErrors=false

##### r_language #####
#r.runPreStep=false
#r.resolveDependencies=false
#r.packageManager=packrat
#r.ignoreSourceFiles=true
#r.cranMirrorUrl=

##### ruby #####
#ruby.runBundleInstall=false
#ruby.resolveDependencies=false
#ruby.overwriteGemFile=false
#ruby.installMissingGems=false
#ruby.ignoreSourceFiles=true

##### sbt #####
#sbt.runPreStep=false
#sbt.resolveDependencies=false
#sbt.includedScopes=compile,runtime
#sbt.ignoreSourceFiles=true
#sbt.aggregateModules=false

##### scm #####
#scm.user=
#scm.url=
#scm.tag=
#scm.repositoriesFile=
#scm.ppk=
#scm.pass=
#scm.branch=

##### serverless #####
#serverless.scanFunctions=false
#serverless.region=
#serverless.provider=aws-lambda
#serverless.maxFunctions=10
#serverless.includes=
#serverless.excludes=