:root {
  --_ui5_checkbox_inner_width_height: 16px !important;
  --sapList_AlternatingBackground: white !important;
  --sapList_SelectionBackgroundColor: white !important;
  --ui5-listitem-selected-border-bottom: 0 !important;
  --ui5-listitem-border-bottom: 0 !important;
}

.current_site {
  font-weight: 700;
}
