.cdc-tools-app {
  position: absolute;
  top: 72px;
  right: 0px;
  height: 0;
  width: calc(100% - 241px);
}

.cdc-tools-app-container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  width: 100%;
}

.cdc-tools-app {
  display: none;
}
.cdc-tools-app.show-cdc-tools {
  display: block;
}
.cdc-tools-app-container {
  display: none;
}
.cdc-tools-app-container.show-cdc-tools-app-container {
  display: block;
}

.cdc-tools-background {
  background-color: var(--sapBackgroundColor, #f7f7f7);
}
