/*
 * Copyright: Copyright 2023 SAP SE or an SAP affiliate company and cdc-tools-chrome-extension contributors
 * License: Apache-2.0
 */


.cdc-tools-app {
  position: absolute;
  top: 72px;
  right: 0px;
  height: 0;
  width: calc(100% - 241px);
}

.cdc-tools-app-loading {
  position: absolute;
  top: 50px;
  right: 0px;
  height: 100%;
  width: calc(100% - 241px);
  background-color: #fff;
  z-index: 9;
  display: none;
}

.cdc-tools-app-loading-show {
  display: block;
}

.cdc-tools-app-container {
  position: absolute;
  top: 6px;
  right: 0px;
  height: auto;
  width: 100%;
}

.cdc-tools-app {
  display: none;
}
.cdc-tools-app.show-cdc-tools {
  display: block;
}
.cdc-tools-app-container {
  display: none;
}
.cdc-tools-app-container.show-cdc-tools-app-container {
  display: block;
}

.cdc-tools-background {
  background-color: var(--sapBackgroundColor, #f7f7f7);
}
