.email-templates-page[_ngcontent-yea-c103] {
  padding: 1rem 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 81px);
}
.email-templates-page__content[_ngcontent-yea-c103] {
  margin-bottom: 1.5rem;
}
.sticky-footer[_ngcontent-yea-c103] {
  position: sticky;
  bottom: 0;
  z-index: 5;
}
.sticky-footer[_ngcontent-yea-c103] button[_ngcontent-yea-c103]:first-child {
  margin-right: 0.5rem;
}
fd-busy-indicator[_ngcontent-yea-c103] {
  width: 100%;
}
