/*
 * Copyright: Copyright 2023 SAP SE or an SAP affiliate company and cdc-tools-chrome-extension contributors
 * License: Apache-2.0
 */


[_nghost-yea-c98] .locales-item[_ngcontent-yea-c98] {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 8px #0000001a, 0 0 1px #0000001a;
  border-radius: 5px;
  padding: 12px 18px;
  margin-bottom: 9px;
}
[_nghost-yea-c98] .locales-item.active[_ngcontent-yea-c98] {
  border: 1px solid #0854a1;
  box-shadow: 0 2px 8px #0000004d, 0 0 1px #00000026;
}
[_nghost-yea-c98] .locales-item[_ngcontent-yea-c98] .default[_ngcontent-yea-c98] {
  margin-right: 9px;
}
[_nghost-yea-c98] .locales-item__icon[_ngcontent-yea-c98] *[_ngcontent-yea-c98] {
  margin-left: 17px;
}
[_nghost-yea-c98] .locales-item__icon[_ngcontent-yea-c98] *.fd-icon[_ngcontent-yea-c98] {
  color: #0854a1;
}
[_nghost-yea-c98] .locales-item__icon[_ngcontent-yea-c98] *.fd-icon.disabled[_ngcontent-yea-c98] {
  opacity: 0.4;
}
[_nghost-yea-c98] .locales-item__icon[_ngcontent-yea-c98] *.fd-icon[_ngcontent-yea-c98]:hover {
  cursor: pointer;
}
[_nghost-yea-c98] .locales-item[_ngcontent-yea-c98]:nth-last-child {
  margin-bottom: 24px;
}
[_nghost-yea-c98] .locale-create[_ngcontent-yea-c98] button[_ngcontent-yea-c98] {
  width: 100%;
  height: 45px;
  max-height: 45px;
}
