/*
 * Copyright: Copyright 2023 SAP SE or an SAP affiliate company and cdc-tools-chrome-extension contributors
 * License: Apache-2.0
 */

.fd-popover {
  font-size: 0.875rem;
  font-size: var(--sapFontSize, 0.875rem);
  line-height: 1.4;
  line-height: var(--sapContent_LineHeight, 1.4);
  color: #32363a;
  color: var(--sapTextColor, #32363a);
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  font-family: var(--sapFontFamily, '72', '72full', Arial, Helvetica, sans-serif);
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  display: inline-block;
  text-shadow: none;
  text-shadow: var(--fdPopover_Text_Shadow, none);
}
.fd-popover:after,
.fd-popover:before {
  box-sizing: inherit;
  font-size: inherit;
}
.fd-popover__control {
  font-size: 0.875rem;
  font-size: var(--sapFontSize, 0.875rem);
  line-height: 1.4;
  line-height: var(--sapContent_LineHeight, 1.4);
  color: #32363a;
  color: var(--sapTextColor, #32363a);
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  font-family: var(--sapFontFamily, '72', '72full', Arial, Helvetica, sans-serif);
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: relative;
  margin: 0;
}
.fd-popover__control:after,
.fd-popover__control:before {
  box-sizing: inherit;
  font-size: inherit;
}
.fd-popover__control:focus-visible {
  outline: 0.0625rem dotted #000;
  outline: var(--sapContent_FocusWidth, 0.0625rem) var(--sapContent_FocusStyle, dotted) var(--sapContent_FocusColor, #000);
}
.fd-popover__control.fd-input:last-child {
  margin-bottom: 0;
}
.fd-popover__control.is-expanded {
  z-index: 3;
}
.fd-popover__control.is-disabled,
.fd-popover__control:disabled,
.fd-popover__control[aria-disabled='true'] {
  pointer-events: none;
}
.fd-popover__wrapper {
  border-radius: 0.25rem;
  border-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  overflow: auto;
}
.fd-popover__body {
  font-size: 0.875rem;
  font-size: var(--sapFontSize, 0.875rem);
  line-height: 1.4;
  line-height: var(--sapContent_LineHeight, 1.4);
  color: #32363a;
  color: var(--sapTextColor, #32363a);
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  font-family: var(--sapFontFamily, '72', '72full', Arial, Helvetica, sans-serif);
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0.25rem;
  border-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border: none;
  position: absolute;
  white-space: nowrap;
  box-shadow: 0 0 0 0.0625rem #0000006b, 0 0.625rem 1.875rem #0000004d;
  box-shadow: var(--sapContent_Shadow2, 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3));
  z-index: 1000;
  background: #fff;
  background: var(--sapGroup_ContentBackground, #fff);
  opacity: 1;
  visibility: visible;
  left: 0.0625rem;
  left: var(--sapGroup_BorderWidth, 0.0625rem);
  top: calc(100% + 0.5rem);
  transition: all 125ms;
  transform: translateY(0);
}
.fd-popover__body:after,
.fd-popover__body:before {
  box-sizing: inherit;
  font-size: inherit;
}
.fd-popover__body[dir='rtl'],
[dir='rtl'] .fd-popover__body {
  left: auto;
  right: 0.0625rem;
  right: var(--sapGroup_BorderWidth, 0.0625rem);
}
.fd-popover__body[dir='rtl']:before,
[dir='rtl'] .fd-popover__body:before {
  right: 0.5rem;
}
.fd-popover__body[dir='rtl']:after,
[dir='rtl'] .fd-popover__body:after {
  right: 0.5rem;
}
.fd-popover__body:before {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
  border-bottom-color: var(--sapGroup_ContentBackground, #fff);
  border-left-color: transparent;
  border-right-color: transparent;
  content: '';
  position: absolute;
  top: calc(-0.5rem + 1px);
  left: 0.5rem;
  z-index: 1002;
}
.fd-popover__body:after {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #89919a;
  border-bottom-color: var(--sapContent_ForegroundBorderColor, #89919a);
  border-left-color: transparent;
  border-right-color: transparent;
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  z-index: 1001;
}
.fd-popover__body > :not(.fd-popover__wrapper) {
  overflow: hidden;
}
.fd-popover__body > :first-child {
  border-top-right-radius: 0.25rem;
  border-top-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-top-left-radius: 0.25rem;
  border-top-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__body > :last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__body-header > :first-child {
  border-top-right-radius: 0.25rem;
  border-top-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-top-left-radius: 0.25rem;
  border-top-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__body-footer > * {
  border-bottom-right-radius: 0.25rem;
  border-bottom-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__body--left {
  left: 0.0625rem;
  left: var(--sapGroup_BorderWidth, 0.0625rem);
  right: auto;
}
.fd-popover__body--left[dir='rtl'],
[dir='rtl'] .fd-popover__body--left {
  right: 0.0625rem;
  right: var(--sapGroup_BorderWidth, 0.0625rem);
  left: auto;
}
.fd-popover__body--left[dir='rtl']:after,
.fd-popover__body--left[dir='rtl']:before,
[dir='rtl'] .fd-popover__body--left:after,
[dir='rtl'] .fd-popover__body--left:before {
  right: 0.5rem;
  left: unset;
}
.fd-popover__body--left:after,
.fd-popover__body--left:before {
  left: 0.5rem;
}
.fd-popover__body--right {
  right: 0.0625rem;
  right: var(--sapGroup_BorderWidth, 0.0625rem);
  left: auto;
}
.fd-popover__body--right[dir='rtl'],
[dir='rtl'] .fd-popover__body--right {
  left: 0.0625rem;
  left: var(--sapGroup_BorderWidth, 0.0625rem);
  right: auto;
}
.fd-popover__body--right[dir='rtl']:after,
.fd-popover__body--right[dir='rtl']:before,
[dir='rtl'] .fd-popover__body--right:after,
[dir='rtl'] .fd-popover__body--right:before {
  left: 0.5rem;
  right: unset;
}
.fd-popover__body--right:after,
.fd-popover__body--right:before {
  left: auto;
  right: 0.5rem;
}
.fd-popover__body--no-arrow {
  box-shadow: 0 0 0 0.0625rem #0000006b, 0 0.125rem 0.5rem #0000004d;
  box-shadow: var(--sapContent_Shadow1, 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3));
  top: 100%;
  z-index: 2;
}
.fd-popover__body--no-arrow:after,
.fd-popover__body--no-arrow:before {
  display: none;
}
.fd-popover__body--no-arrow.fd-popover__body--left {
  left: 0.0625rem;
  left: var(--sapGroup_BorderWidth, 0.0625rem);
  right: auto;
}
.fd-popover__body--no-arrow.fd-popover__body--left[dir='rtl'],
[dir='rtl'] .fd-popover__body--no-arrow.fd-popover__body--left,
.fd-popover__body--no-arrow.fd-popover__body--right {
  right: 0.0625rem;
  right: var(--sapGroup_BorderWidth, 0.0625rem);
  left: auto;
}
.fd-popover__body--no-arrow.fd-popover__body--right[dir='rtl'],
[dir='rtl'] .fd-popover__body--no-arrow.fd-popover__body--right {
  left: 0.0625rem;
  left: var(--sapGroup_BorderWidth, 0.0625rem);
  right: auto;
}
.fd-popover__body--dropdown {
  display: -ms-grid;
  -ms-grid-columns: max-content;
  width: max-content;
}
.fd-popover__body--dropdown-fill {
  display: block;
  max-width: 40rem;
  width: calc(100% - 0.125rem);
  width: calc(100% - var(--sapGroup_BorderWidth, 0.0625rem) * 2);
}
.fd-popover__body--static {
  position: relative;
  top: auto;
  bottom: auto;
}
.fd-popover__body.is-hidden,
.fd-popover__body[aria-hidden='true'] {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.fd-popover--input-message-group .fd-popover__body,
.fd-popover--input-message-group .fd-popover__body--no-arrow,
.fd-popover--input-message-group .fd-popover__popper,
.fd-popover--input-message-group .fd-popover__popper--no-arrow {
  box-shadow: none;
  border: none;
  margin-top: -0.25rem;
}
.fd-popover--full-width {
  width: 100%;
}
.fd-popover__popper {
  font-size: 0.875rem;
  font-size: var(--sapFontSize, 0.875rem);
  line-height: 1.4;
  line-height: var(--sapContent_LineHeight, 1.4);
  color: #32363a;
  color: var(--sapTextColor, #32363a);
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  font-family: var(--sapFontFamily, '72', '72full', Arial, Helvetica, sans-serif);
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  position: absolute;
  white-space: nowrap;
  box-shadow: 0 0 0 0.0625rem #0000006b, 0 0.625rem 1.875rem #0000004d;
  box-shadow: var(--sapContent_Shadow2, 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3));
  z-index: 1000;
  border-radius: 0.25rem;
  border-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  background: #fff;
  background: var(--sapGroup_ContentBackground, #fff);
  opacity: 1;
}
.fd-popover__popper:after,
.fd-popover__popper:before {
  box-sizing: inherit;
  font-size: inherit;
}
.fd-popover__popper--no-arrow {
  margin: 0 !important;
}
.fd-popover__popper--no-arrow .fd-popover__arrow {
  display: none;
}
.fd-popover__popper--static {
  position: relative;
  top: auto;
  bottom: auto;
}
.fd-popover__popper--input-message-group {
  box-shadow: none;
  border: none;
  margin-top: -0.25rem !important;
}
.fd-popover__popper .fd-popover__arrow {
  font-size: 0.875rem;
  font-size: var(--sapFontSize, 0.875rem);
  line-height: 1.4;
  line-height: var(--sapContent_LineHeight, 1.4);
  color: #32363a;
  color: var(--sapTextColor, #32363a);
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  font-family: var(--sapFontFamily, '72', '72full', Arial, Helvetica, sans-serif);
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}
.fd-popover__popper .fd-popover__arrow:after,
.fd-popover__popper .fd-popover__arrow:before {
  box-sizing: inherit;
  font-size: inherit;
}
.fd-popover__popper[x-out-of-boundaries] {
  display: none;
}
.fd-popover__popper[x-placement^='top'] {
  margin-bottom: 0.5rem;
}
.fd-popover__popper[x-placement^='top'] .fd-popover__arrow {
  bottom: -0.5rem;
  margin: 0 0.5rem;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-top-color: #89919a;
  border-top-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper[x-placement^='top'] .fd-popover__arrow:after {
  bottom: 1px;
  margin: 0 -0.5rem;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-top-color: #fff;
  border-top-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper[x-placement^='bottom'] {
  margin-top: 0.5rem;
}
.fd-popover__popper[x-placement^='bottom'] .fd-popover__arrow {
  top: -0.5rem;
  margin: 0 0.5rem;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #89919a;
  border-bottom-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper[x-placement^='bottom'] .fd-popover__arrow:after {
  top: 1px;
  margin: 0 -0.5rem;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
  border-bottom-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper[x-placement^='left'] {
  margin-right: 0.5rem;
}
.fd-popover__popper[x-placement^='left'] .fd-popover__arrow {
  right: -0.5rem;
  margin: 0.5rem 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #89919a;
  border-left-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper[x-placement^='left'] .fd-popover__arrow:after {
  right: 1px;
  margin: -0.5rem 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
  border-left-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper[x-placement^='right'] {
  margin-left: 0.5rem;
}
.fd-popover__popper[x-placement^='right'] .fd-popover__arrow {
  left: -0.5rem;
  margin: 0.5rem 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #89919a;
  border-right-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper[x-placement^='right'] .fd-popover__arrow:after {
  left: 1px;
  margin: -0.5rem 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
  border-right-color: var(--sapGroup_ContentBackground, #fff);
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-container:empty {
  display: none;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}
.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.6;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}
.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
.fd-popover__popper .fd-popover__arrow {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  z-index: 1000000;
}
.fd-popover__popper .fd-popover__arrow:after {
  position: absolute;
  content: '';
  border-style: solid;
  border-color: transparent;
}
.fd-popover__popper .fd-popover__arrow--bottom:after,
.fd-popover__popper .fd-popover__arrow--top:after {
  margin: 0 -0.5rem;
}
.fd-popover__popper .fd-popover__arrow--start:after,
.fd-popover__popper .fd-popover__arrow--end:after {
  margin: -0.5rem 0;
}
.fd-popover__popper .fd-popover__arrow--bottom {
  bottom: -0.5rem;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-top-color: #89919a;
  border-top-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper .fd-popover__arrow--bottom:after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-top-color: #fff;
  border-top-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper .fd-popover__arrow--top {
  top: -0.5rem;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #89919a;
  border-bottom-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper .fd-popover__arrow--top:after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
  border-bottom-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper .fd-popover__arrow--end {
  right: -0.5rem;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #89919a;
  border-left-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper .fd-popover__arrow--end:after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
  border-left-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper .fd-popover__arrow--start {
  left: -0.5rem;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #89919a;
  border-right-color: var(--sapContent_ForegroundBorderColor, #89919a);
}
.fd-popover__popper .fd-popover__arrow--start:after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
  border-right-color: var(--sapGroup_ContentBackground, #fff);
}
.fd-popover__popper .fd-popover__arrow-x--start {
  left: 0.25rem;
}
.fd-popover__popper .fd-popover__arrow-x--center {
  left: 50%;
  transform: translate(-50%);
}
.fd-popover__popper .fd-popover__arrow-x--end {
  right: 0.25rem;
}
.fd-popover__popper .fd-popover__arrow-y--top {
  top: 0.25rem;
}
.fd-popover__popper .fd-popover__arrow-y--center {
  top: 50%;
  transform: translateY(-50%);
}
.fd-popover__popper .fd-popover__arrow-y--bottom {
  bottom: 0.25rem;
}
.fd-popover__popper.fd-popover__popper--cdk-custom {
  position: relative;
  width: 100%;
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-list {
  border-radius: 0.25rem;
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-list .fd-list__item:first-child {
  border-top-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-top-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-list .fd-list__item:last-child {
  border-bottom-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-bottom-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list {
  border-bottom: none;
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item:first-child .fd-nested-list__content {
  border-top-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-top-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item:last-child .fd-nested-list__item:last-child .fd-nested-list__link {
  border-bottom-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-bottom-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item:last-child .fd-nested-list__content {
  border-bottom-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-bottom-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item:last-child .fd-nested-list__content.is-selected {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-side-nav,
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item {
  border-right: none;
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-side-nav:first-child,
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item:first-child {
  border-top-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-top-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-side-nav:last-child,
.fd-popover__popper.fd-popover__popper--cdk-custom .fd-nested-list__item:last-child {
  border-bottom-right-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  border-bottom-left-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
}
.fd-popover-custom {
  display: inline-block;
  max-width: 100%;
}
.fd-popover-custom-list .fd-list {
  overflow: auto;
}
.cdk-overlay-container {
  z-index: 1002;
}
.fd-popover-custom--disabled .fd-popover__control {
  cursor: auto;
}
.cdk-overlay-pane {
  max-height: initial;
}
.fd-popover__popper.fd-inline-help__content {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-size: var(--sapFontSmallSize, 0.75rem);
}
.fd-popover__body--hidden {
  display: none !important;
}
