/*
 * Copyright: Copyright 2023 SAP SE or an SAP affiliate company and cdc-tools-chrome-extension contributors
 * License: Apache-2.0
 */


.content {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}
.content:focus {
  outline: none;
}
