.fd-button.fd-shellbar__button {
  position: relative;
  border-color: transparent;
  background: 0 0;
  color: #d1e8ff;
  color: var(--sapShell_InteractiveTextColor, #d1e8ff);
  overflow: visible;
  padding: 0;
  margin: 0 6px;
}

.fd-button.fd-shellbar__button.is-hover,
.fd-button.fd-shellbar__button:hover {
  background: #283848;
  background: var(--sapShell_Hover_Background, #283848);
  border-color: transparent;
}

.fd-button.fd-shellbar__button:active,
.fd-button.fd-shellbar__button:hover {
  color: #fff;
  color: var(--sapShell_Active_TextColor, #fff);
  background: #283848;
  border-color: transparent;
}
